// **
// Imports
// **

@import 'global/functions.css.scss';
@import 'global/globals.css.scss';
@import 'global/mixins.css.scss';

// **
// Pages
// **

.pages.index {
	overflow:hidden;
	
	.dot {
		position:absolute;
		border:1px solid rgba(0,0,0,0.05);
		cursor: move;
		@include border-radius(200px);
		@include box-shadow('', 0px, 0px, 2px, 0px, rgba(0,0,0,0.05));
		&.up {
			cursor: none;
			z-index:100;
			@include box-shadow('', 0px, 1px, 5px, 0px, rgba(0,0,0,0.2));
			@include transform('scale(1.05)');
		}
	}
	
}