<header>
	<ul>
		<li><%= link_to('home', root_path, :class => "home")  %></li>
		<li><%= link_to('dots', dots_path, :class => "dots")  %></li>
		<li><%= link_to('font', font_path, :class => "font")  %></li>
		<li><%= link_to('blog', 'http://blog.tessaanntaylor.com')  %></li>
	</ul>
</header>